body{
    margin: 0%;
    padding: 0%;
}

/*FONTE*/
@font-face{
    font-family: lovelo;
    src: url(../src/Lovelo/TTF/Lovelo-LineBold.ttf);
}

/*navbar fixo - corpo*/
#nav2{
    display: block;
    position: fixed;
    padding: 0%;
    width: 100%;
    height: 45px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 200;
}
/*titulo principal / BRAND*/
#brand {
    float: left;
    margin-left: 25px;
    margin-top: 12px;
    font-family: lovelo;
    color: #ff8a50;
    font-size: 30px;
    display: flexbox;
}
#brand:hover{
    color: #ffbbb0;
    text-decoration: none;
}
/*div do lado direito*/
#divRight {
    float: right;
    margin-right: 20px;
}
/*links para navegação*/
/*SOBRE / NOVIDADE / FUNCIONÁRIOS*/
.linknavbar{
    padding: 0px 10px;
    margin-top: 15px;
    margin-left: 15px;
    color: #848484;
    font-size: 18px;
    text-decoration: none;
}
/*HOVER linknavbar*/
.linknavbar:hover{
    text-decoration: none;
    color: #95C7FF;
}
/*botão modal para fazer login*/
#login{
    color: #F7EDE2;
    background-color: #ff8a50;
    padding: 5px;
    margin: 10px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
    display: flexbox;
}
#login:hover{
    background-color: #ffbbb0;
    text-decoration: none;
}
/*imagem perfil*/
#imagemPerfil{
    float: right;
    border-radius: 50%;
    border: 2px solid #ff8a50;
    display: none;
}
#imagemPerfil:hover {
    opacity: 0.7;
}

/*BOTÃO entrar/login*/
#Entrar{
    color: #F7EDE2;
    background-color: #ff8a50;
    border: 2px solid #ff8a50;
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: 15px;
}
#Entrar:hover{
    background-color: #F7EDE2;
    color: #ff8a50;
    border: 2px solid #ff8a50;
}
/*botão cadastro*/
#btn-cadastro{
    color: #ff8a50;
}
/*ALERTs*/
.msg{
    display: none;
    margin-top: 5px;
}
/*botão para recuperar senha*/
#recSenha{
    font-size: 12px;
    color: rgb(143, 141, 141);
}


/*FOOTER*/
.footer {
    position: static;
    margin-bottom: 0px;
    background-color: #daa388;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
    padding-right: 30px;
    text-align: right;
    color: #ffffff;
}


/*secao 1 do index*/
#secao1{
    width: 100%;
    height: 720px;
    display: inline-block;
    background-image: url(../src/Componente1.png); 
    background-size: cover;
}


/*secao 2 do index*/
#secao2{
    width: 100%;
    height: 720px;
    display: inline-block;
    background-image: url(../src/Componente2.png);
    background-size: cover;
}
/*Texto sobre a empresa*/
#div-sobre{
    text-align: left;
    margin-left: 50px;
    padding: 5px;
    width: 10%;
    height: auto;
    background-color: lightcoral;
}


/*secao 3 do index*/
#secao3{
    width: 100%;
    height: 720px;
    display: inline-block;
    background-image: url(../src/Componente3.png); 
    background-size: cover;
}
/*cards de novidades*/
#cards-novidades{
    margin: 15%;
    margin-top: 0;
    position: relative;
    object-position: center;
    display: flexbox;
}

/*secao 4 do index*/
#secao4{
    width: 100%;
    height: 560px;
    display: inline-block;
    background-image: url(../src/Componente4.png); 
    background-size: cover;
}
/*Links funcionário*/
#div-links{
    text-align: center;
    margin-left: 35%;
    width: 30%;
}
ul li{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 20px;
    width: 100%;
    height: auto;
    margin-top: 5px;
}
#links{
    color: #ff8a50;
}

/*titulos das seções*/
#h2{
    margin-top: 80px;
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color:#84A59D;
}


